.login {
  @include home-background-image;
  @include flex-center-align-items;
  flex-direction: column;
  min-height: 100vh;
  letter-spacing: 0.05rem;

  .logo {
    position: absolute;
    top: 3rem;
    left: 6rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: $margin-small-2;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5rem 6rem;
    border-radius: $border-radius * 2;
    margin-top: 12rem;
    height: 65rem;
    width: 42rem;
  }

  &__title {
    font-size: $font-size-large-2;
    font-weight: $font-weight-semi-bold;
    color: $text-color-white;
    margin-bottom: $margin-small-2;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $margin-small-2;
  }

  & input {
    background-color: lighten($background-color, 20%);
    width: 100%;
    color: $text-color-white;
  }

  & button {
    border-radius: $border-radius;
    font-size: $font-size-small-2;
    padding: $padding-small-2;
    margin-top: $margin-small-1;
  }

  &__items {
    @include flex-center-align-items;
    justify-content: space-between;
    width: 100%;
    font-size: $font-size-small-1;
  }

  &__remember {
    height: 100%;
    width: 50%;
    position: relative;
  }

  &__remember input {
    position: absolute;
    left: 0;
    top: 0.2rem;
    background-color: red;
    width: 1.2rem;
  }

  &__remember label {
    position: absolute;
    left: 2rem;
    top: 0;
    color: $text-color-gray;
  }

  &__text {
    display: block;
    width: 100%;
    color: $text-color-gray;
    font-size: $font-size-small-1;
    margin-top: $margin-small-1;
    a {
      color: $blue-link-color;
    }
  }

  &__bottom-text > &__text:first-child {
    a {
      color: $text-color-white;
    }
  }

  &__bottom-text {
    margin-top: $margin-large-2;
  }
}
