.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-shadow: 1px 0 0 darken($text-color-gray, 40%);

  & > .logo {
    align-self: center;
    margin-top: $margin-regular-1;
    height: 5rem;
  }

  &__links {
    @include flex-center-justify-items;
    align-self: center;
    flex-direction: column;
    gap: $margin-large-1;
    height: 100%;
    font-size: $font-size-large-1;
    text-transform: uppercase;
  }

  &__active {
    color: $primary-color;
  }
}
