.home {
  min-height: 100vh;
  @include home-background-image;
}

.hero {
  @include flex-center-items;
  margin-top: $margin-huge-1;
  flex-direction: column;

  &__title {
    font-size: $font-size-huge-1;
    font-weight: $font-weight-semi-bold;
    margin-bottom: $margin-small-1;
    letter-spacing: 0.2rem;
    text-align: center;
    line-height: 1.15;
  }

  &__subtitle {
    font-size: $font-size-large-2;
    font-weight: $font-weight-medium;
    margin-bottom: $margin-large-1;
    letter-spacing: 0.1rem;
  }

  &__text {
    font-size: $font-size-regular;
    font-weight: $font-weight-light;
    margin-bottom: $margin-small-1;
    letter-spacing: 0.1rem;
  }
}
