.add {
  @include flex-center-items;
  min-height: 100vh;
  letter-spacing: 0.05rem;

  &__container {
    @include fade-in;
    display: flex;
    flex-direction: column;
    gap: $margin-regular-1;
  }

  &__title {
    font-size: $font-size-huge-1;
    font-weight: $font-weight-light;
    color: $text-color-white;
  }

  &__text {
    font-size: $font-size-regular;
    font-weight: $font-weight-light;
    color: darken($text-color-gray, 10%);
  }

  &__message {
    &--before {
      left: 36%;
      top: 50%;
      position: absolute;
      z-index: -1;
      font-size: $font-size-small-1;
    }
    @keyframes move-up {
      0% {
        opacity: 0;
      }
      25% {
        transform: translateY(-5rem);
        opacity: 1;
      }

      80% {
        transform: translateY(-5rem);
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @include animate(move-up, 3s, ease-in-out, 1);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $margin-large-1;

    &__items {
      position: relative;
      @include flex-center-align-items;
      gap: $margin-regular-1;

      & input {
        width: 35rem;
        background-color: lighten($background-color, 20%);
        color: $text-color-white;
      }
    }

    &__buttons button {
      font-size: $font-size-regular;
      margin-right: $margin-small-2;
      padding: 1rem 4rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }
  }
}
