$background-color: #121212;
$primary-color: #db202b;

$blue-link-color: #1da1f2;

$text-color-white: #fefefe;
$text-color-gray: #b1b1b1;

$margin-small-1: 1.2rem;
$margin-small-2: 1.6rem;
$margin-regular-1: 2.4rem;
$margin-regular-2: 3.2rem;
$margin-large-1: 4rem;
$margin-large-2: 6rem;
$margin-huge-1: 14rem;

$padding-small-1: 1rem;
$padding-small-2: 1.4rem;
$padding-large-1: 4rem;
$padding-large-2: 6rem;
$padding-button-1: 0.8rem 1.6rem;

$font-size-small-1: 1.2rem;
$font-size-small-2: 1.4rem;
$font-size-regular: 1.6rem;
$font-size-large-1: 2rem;
$font-size-large-2: 2.4rem;
$font-size-large-3: 2.8rem;
$font-size-huge-1: 6rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$border-radius: 0.2rem;
